name: Build emuiibo

on:
  workflow_dispatch:

jobs:
  emuiibo:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Mark repo as safe
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - name: Update packages
      run: |
        sudo -n apt-get update
        sudo -n apt-get install -y git build-essential zip

    - name: Install rustup
      run: |
        export HOME=/root
        curl https://sh.rustup.rs -sSf | sh -s -- -y
        echo "$HOME/.cargo/bin" >> $GITHUB_PATH

    - name: Prepare Rust
      run: |
        rustup toolchain install nightly-2026-01-09 --profile minimal
        rustup component add rust-src --toolchain nightly-2026-01-09
        rustup override set nightly-2026-01-09

    - name: Prepare cargo-nx
      run: cargo install cargo-nx --git https://github.com/aarch64-switch-rs/cargo-nx

    - name: Checkout libnx and make install
      run: |
        git clone --recurse-submodules https://github.com/switchbrew/libnx.git
        cd libnx
        make install -j$(nproc)

    - name: Build
      run: |
        make emuiibo -j$(nproc)
      env:
        DEVKITPRO: /opt/devkitpro
        DEVKITARM: /opt/devkitpro/devkitARM

    - name: Pack ZIP
      run: |
        rm -f emuiibo.zip
        cd SdOut
        zip -r ../emuiibo.zip .

    - name: Release Tag
      id: reltag
      run: |
        VERSION=$(grep '^version' emuiibo/Cargo.toml | head -n1 | sed 's/version = "\(.*\)"/\1/')
        SHORT_SHA="$(git rev-parse --short HEAD)"

        TAG_NAME="${SHORT_SHA}"
        REL_NAME="emuiibo ${VERSION} (${SHORT_SHA})"

        echo "tag_name=${TAG_NAME}" >> "$GITHUB_OUTPUT"
        echo "rel_name=${REL_NAME}" >> "$GITHUB_OUTPUT"

    - name: Upload Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ steps.reltag.outputs.tag_name }}
        name: ${{ steps.reltag.outputs.rel_name }}
        files: emuiibo.zip
        generate_release_notes: true
        prerelease: ${{ github.event_name == 'workflow_dispatch' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}